# Logs
logs/
*.log

# Build output
dist/
out/

# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Compiled TypeScript files
*.js
*.js.map

# Package lock files
package-lock.json
yarn.lock

# Editor-specific files
.vscode/
.idea/
*.swp
.DS_Store
